body {
	background-image: url("inspiration-voyage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
}

section {
	border: 1px solid;
	margin-top: 50px;
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    background-color: #19b4df;

}

form {
	display: flex;
    flex-direction: column;
    align-items: center;
}