* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.block {
	display: inline-block;
    height: 460px;
    width: 270px;
    margin: 20px 35px;
}

#gb {
	background-image: url(girlblack.png);
}

#mb {
	background-image: url(menblue.png);
}

#mw {
	background-image: url(menwhite.png);
}

#ww {
	background-image: url(girlwhite.png);
}

.bgimage {
	height: 330px;
	background-size: cover;
}

.left, .right {
	display: inline-block;
	border: hidden;
	height: 50px;
    width: 50px;
    border-radius: 50%;
	color: white;
	font-family: "Maven Pro";
	text-align: center;
}

.left {
	background-color: seagreen;
	position: relative;
	top: 3%;
    left: 3%;
}

.right {
	background-color: red;
	position: relative;
    top: 3%;
    left: 57%;
}

.right.alone {
    left: 77%;
}


/*description*/

.description {
	height: 28%;
    text-align: center;
    font-size: 1.2em;
}

p + p {
	color: green;
}

span {
	text-decoration: line-through;
	font-size: 0.7em;
	color: grey;
}

input {
	border: grey solid 1px;
	background-color: white;
	color: grey;
	font-family: bold, sans-serif;
    height: 26%;
    width: 62%;
    position: relative;
    bottom: 10%;
    border-radius: 9%;
}
