* {
	box-sizing: border-box;
}
/*nav bar*/
nav, footer {
	background-color: black;
	color: white;
	position: fixed;
	left: 0;
	right: 0;
	width: 100vw;
}

nav {
	top: 0;
	height: 12vh;
}

ul {
	list-style: none;
	position: relative;
    top: 4%;
}

li {
	display: inline-block;
	font-size: 2.5em;
}

#product {
	position: absolute;
    right: 4%;
    top: 20%;
    font-size: 1.5em;
    font-family: "roboto";
}


/*footer*/
footer{
	bottom: 0;
	height: 6vh;
}

footer > p {
	font-family: "roboto";
	position: absolute;
	right: 4%;
}