* {
	box-sizing: border-box;
	border: solid red 1px;
}

nav {
	background-color: black;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 12vh;
	width: 100vw;
}

ul {
	list-style: none;
	position: relative;
    top: 4%;
}

li {
	display: inline-block;
	font-size: 2.5em;
}

#product {
	position: absolute;
    right: 4%;
}
