* {
    font-family: 'Roboto', serif;
}

body {
	margin: 0;
	padding: 0;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    background: radial-gradient(circle at 10% 20%, rgb(228, 118, 0) 0%, rgb(247, 189, 2) 90%);
    position: fixed;
    width: 100%;
    z-index: 1;
    align-content: flex-end;
    align-items: center;
}
.navbar-content a{
	padding: 20px 50px;
	color: white;
}
.navbar-content a:hover{
	background-color: whitesmoke;
	color: black;
}

.header {
	height: 30vh;
	padding: 10vh;
	font-size: 30px;	
}

h1 {
	color: black;
	text-align: center;
	font-family: 'Bebas Neue';
	margin: 80px;
}

h2 {
	color: black;
	text-align: center;
	margin: 30px;

}

a{
	text-decoration: none;
}
/*About*/

article {
	display: flex;
	justify-content: center;
}


#presentation {
    width: 60%;
    margin-bottom: 5vh;
    border-left: 3px #3f1658 solid;
    padding-left: 10px;
}
/*Projects*/

.projects{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
	width: 15vh;
	height: 30vh
}

.card {
	position: relative;
    width: 50%;
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
}

h4 {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

button{
	border:none;
	padding:20px;
	background: radial-gradient(circle at 10% 20%, rgb(228, 118, 0) 0%, rgb(247, 189, 2) 90%);
	margin: 5px;
}

.card:hover .img {
  opacity: 0.3;
}

.card:hover .button {
  opacity: 1;
}

.button a{
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* skills */
.skills {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.skillpic {
    margin: 10px;
	height: 15vh;
	width: auto;
}

/*Footer*/
footer img {
	height: 5vh;
}

footer {
	display: flex;
	text-align: center;
	flex-direction: column;
}
.contact {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 20px;
    margin-bottom: 20px;
}




@media only screen and (min-width: 300px) and (max-width: 650px) {
	.navbar{
		display: flex;
	}
	.header{
		display: flex;
    	justify-content: center;
		height: 57vh;
	}
}
