body {
	background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-family: sans-serif;
}

img{
	margin-top: 30px;
}

section {
 	border: solid 3px #FFE81F;
 	width: 600px;
 	height: 300px;
 	display: flex;
 	flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 3%;
}

input {
	margin-top: 15px;
	border: 2px solid yellow;
    border-radius: 5%;
}

i {
	size: 100px;
	color:  white;
}
